header{
    background-color: rgb(103, 58, 183);
    height: 80px;
    font-size: 30px;
}

header > label{
    font-weight: bold;
    margin: 25px 0px 0px 25px;
    display: inline-block;
}

header > .btnHeader{
    float: right;
    margin-right: 25px;
}