body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: whitesmoke;
    margin: 0px;
}

#divMae{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#divContent{
    width: 70%;
    max-height: 90%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(25,25,112,0.22);
    text-align: center;
    position: absolute;
    top: 80;
    background-color: whitesmoke;
    z-index: 500;
    overflow: auto;
    border-radius: 1em;
    padding: 10px;
}

#divContent label{
    display: inline-block;
    color: rgb(25,25,112);
    font-size: 22px;
}

#divContentForm label, #divContentForm button{
    margin-top: 1.2%;
} 

#divContentForm input{
    margin-top: 0.2%;
}

#divContentForm button{
    background-color: rgb(25,25,112);
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    outline: none;
}

#divContentForm button:active{
    background-color: rgb(10,10,50);
}