header{
    background-color: rgb(25,25,112);
    height: 180px;
    font-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

header > label{
    font-weight: bold;
    margin: 10px 0px 0px 10px;
    display: inline-block;
    cursor: pointer;
}

header > .btnHeader{
    float: right;
    margin-right: 25px;
}