body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(237, 231, 246);
    margin: 0px;
}

#divMae{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
}

#divContent{
    width: 70%;
    height: 70%;
    border: 4px solid rgb(103, 58, 183);
    text-align: center;
    position: relative;
    overflow: auto;
}

#divContent label{
    display: inline-block;
    color: rgb(103, 58, 183);
    font-size: 22px;
}

#divContent label, #divContent button{
    margin-top: 4.5%;
} 

#divContent input{
    margin-top: 0.5%;
}

#divContent button{
    background-color: rgb(103, 58, 183);
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 8px;
    outline: none;
}

#divContent button:active{
    background-color: rgb(69, 39, 160);
}