<mat-card>
    <h1>New Transaction</h1>
    <h2>Balance: ${{balance}}</h2>
    <form class="std-form" #f="ngForm" (ngSubmit)="new(f)">
        <mat-form-field>
            <mat-select placeholder="Type" required [(ngModel)]="tran.type" name="type">
            <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
            </mat-select>
        </mat-form-field> 

        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput [(ngModel)]="tran.amount"
                name="amount" type="number">
        </mat-form-field>

        <mat-toolbar class="form-buttons">
            <mat-toolbar-row>
                <button mat-raised-button type="submit" color="accent">
                    Send
                </button>
                <button mat-raised-button type="button" color="warn" [routerLink]="['/transaction']">
                    Cancel
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </form>
</mat-card>