<mat-card>
    <h2>Register</h2>
    <form class="std-form" #f="ngForm" (ngSubmit)="signUp(f)">
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput [(ngModel)]="user.fullName"
                name="fullName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email"
                name="email" required email>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password"
                name="password" required type="password">
        </mat-form-field>
    
        <mat-toolbar class="form-buttons">
            <mat-toolbar-row>
                <button mat-raised-button type="submit" color="accent">
                    Send
                </button>
                <button mat-raised-button type="button" color="warn" [routerLink]="['']">
                    Cancel
                </button>
            </mat-toolbar-row>
         </mat-toolbar>
    </form>
</mat-card>